body{
    background-color:black;
    color: white;
    font-family: Arial;
    padding:20px;
}
h1{
    color:cyan;
    text-shadow: 0px 0px 10px cyan;
}
h2{
    color:yellow;
    margin-top: 40px;
}
button{
    background-color: cyan;
    border: radius 50px; 
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition:0.3s;
}
body{
    text-align: center;
    background: linear-gradient(to right,#000000, #0f2027, #203a43);
    min-height: 100vah;
}
button:hover{
    background-color: yellow;
    box-shadow: 0px 0px 10px cyan;
}
img{
    border-radius: 50%;
    border: 4px solid cyan;
    animation: float 3s ease-in-out infinite;
}
p{
    font-size: 20px;
}
nav{
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    margin-bottom: 40px;
    backdrop-filter: blur(10px);
    
}
nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
    position: relative;
}

nav a::after{
    content:"";
    width: 0%;
    height: 3px;
    background-color: cyan;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav a:hover::after{
    width:75%;
}
nav a:hover{
    color: cyan;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.projects{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;

}
.card{
    background-color: #111;
    padding: 20px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px cyan;

}
.card:hover{
    transform: scale(1.05);
    transition:0.3;
    box-shadow: 0px 0px 20px cyan;
}
.social a{
    color: cyan;
    text-decoration: none;
    margin: 15px;
    font-size: 20px;

}
.social a:hover{
    color: yellow;
}

@media(max-width:768px){
    .hero{
        flex-direction: column;
    }

    .projects{
        flex-direction: column;
        align-items: center;
    }
    nav a{
        display: block;
        margin: 10px;
    }
}
html{
    scroll-behavior: smooth;
}
.typing{
    color: cyan;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(20) forwards;
}
@keyframes typing{
    from{
        width: 0;

    }
    to{
        width: 100%;
    }
}

.skills{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}
.skill-box{
    background-color: #111;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px cyan;
    transition:0.3s;

}
.skill-box:hover{
    transform: scale(1.1);
}

footer{
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5)
    border radius -10px;
}

section{
    animation: fadein 1s ease;

}

@keyframes fadein{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float{

    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }

}


.about-text{
    max-width: 700px;
    margin: auto;
    font-size: 20px;
    line-height: 1.8;
}

.light-mode{
    background: white;
    color: black;
}